*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.backg{
    position: relative;
    min-height: 100vh;
    background-color:#F5EBDD ;
    overflow: hidden;
}
.warehouse{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url("images/warehouse.jpg");
    background-size: cover;
    background-position: center 30px;
    z-index:0;
    opacity:0.30;
}
.centPart{
    position: relative;
    z-index: 2;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.glowy{
    position:absolute;
    width: 700px;
    height:700px;
    border-radius:50%;
    background:radial-gradient(circle,
    rgba(255,255,255,0.85)0%,
    rgba(255,255,255,0.35)45%,
    rgba(255,255,255,0)75%);
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:1;
}
nav{
    position: relative;
    z-index:10;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3B2417;
    padding: 22px 60px;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}
.logo img{
    width:60px;
    height:auto;
}
.logo-txt h2{
    color:white;
    font-size:28px;
    margin-bottom:3px;
}
.logo-txt p{
    color: #f2d7b5;
    font-size:15px;
}
.menu-links{
    display:flex;
    gap:45px;
}
.menu-links a{
    color:white;
    text-decoration: none;
    font-size:19px;
    font-weight:600;
    transition:0.3s;
}
.menu-links a:hover{
    color: #D8A15D;
}
.login{
    display:flex;
    gap:15px;
}
.login-btnn{
    background:transparent;
    color:white;
    border:2px solid white;
    padding:12px 28px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
    font-size:16px;
}
.login-btnn:hover{
    background:white;
    color:#3B2417;
}
.signup-btnn{
    background:#D8A15D;
    color:white;
    border:none;
    padding:12px 28px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
    font-size:16px;
}
.signup-btnn:hover{
    background:#C98A42;
}